<!--<p>Add sign to PDF doc</p>-->

<%#= send_file(pdf_filename, :filename => "your_document.pdf", :disposition => 'inline', :type => "application/pdf") %>
%iframe{ src: "/documents/add_sign_to_pdf", width: "600", height: "780", style: "border: none;" }